.preview{
    overflow-x: auto;
}

.hidden{
    display: none;
}

.progress{
    transition: width 0.1s linear;
}

.has-background-bk{
    background-color: #faf5ed;
}

.truncated-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

.incorrect{
    background-color: rgba(231, 76, 60, 0.9);
    color: white;
}
