{% extends "base.html" %}

{% block title %}
    Audio
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animation/barAnimation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animation/globalAnimation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropZone.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
{% endblock %}

{% block content %}

    <div class="container">

        <div class="modal" id="modal-warning-file-extension">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">⚠️ Mauvaise extension de fichier</p>
                <button class="delete" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                <div class="block">
                    <p>Le fichier que vous avez téléchargé n'est pas dans le format attendu. Veuillez réessayer avec une extension valide.</p>
                </div>
                <div class="block error-icon has-text-centered">
                    <i class="fa-regular fa-circle-xmark is-size-1"></i>
                </div>
              </section>
              <footer class="modal-card-foot is-justify-content-center">
                <div class="buttons">
                  <button class="button is-success">J'ai compris</button>
                </div>
              </footer>
            </div>
        </div>

        <div class="block">
            <div class="box">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
                {% endwith %}

                <form action="/audio" method="post" enctype="multipart/form-data">

                    <div class="columns is-vcentered">
                        <div class="column is-8">
                            <div class="drop-zone is-flex is-justify-content-center is-align-items-center is-flex-direction-column" style="height: 100%; border: 2px dashed #ccc; padding: 20px;">
                                <i class="fa-solid fa-file-import"></i>
                                <p class="indication-process-file">Cliquer ou glisser déposer pour télécharger votre fichier de données</p>
                                <input class="file-input" id="input_file_pkl" type="file" name="pkl_file" accept=".pkl" />
                                <p class="file-name-indication">Aucun fichier selectionner</p>
                            </div>
                        </div>
                    
                        <div class="column">
                            <div class="field">
                                <label class="label">Nombre d'audio à afficher</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select name="limit_audio" aria-label="nombre d'audio à afficher">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="-1">Tout</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="button is-success is-fullwidth" type="submit" aria-label="envoyer">Envoyer</button>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
        {% if file_name %}
            <div class="block">
                <h2 class="has-text-centered has-text-weight-bold is-size-4">Fichier en cours de lecture : <span class="has-text-primary">{{ file_name }}</span></h2>
                <div class="notification">
                    <p class="has-text-centered">{{ audio_display }} échantillons afficher sur <strong>{{ num_lines }}</strong></p>
                </div>
            </div>
        {% endif %}    
        {% if src_audio %}
            <div class="block">
                <div class="box">
                    {% for path in src_audio %}
                        <div class="block audio-player" data-src="/static/wav/{{ path }}">
                            <div class="box">
                                <span class="tag is-success">Femme</span>
                                <span class="tag is-warning">Court</span>
                                <span class="tag is-danger">Dramatique</span>
                                <div class="columns is-vcentered">
                                    <div class="column is-2 has-text-centered">
                                        <p class="time-code">
                                            <span class="current has-text-weight-bold">0:00</span> /
                                            <span class="total-duration">0:00</span>
                                        </p>
                                    </div>
                        
                                    <div class="column is-1 has-text-centered">
                                        <button class="button is-light play-btn">
                                            <span class="icon is-medium">
                                                <i class="fa-solid fa-play icon-play"></i>
                                            </span>
                                        </button>
                                    </div>
                        
                                    <div class="column is-6">
                                        <p class="has-text-centered truncated-text has-text-weight-bold">{{ path }}</p>
                                        <progress class="progress is-small progress-sound is-primary" max="100" value="20">20%</progress>
                                    </div>
                        
                                    <div class="column is-3 has-text-centered">
                                        <div class="is-flex is-align-items-center is-justify-content-center">
                                            <span class="icon is-medium">
                                                <i class="fa-solid fa-volume-high sound-btn"></i>
                                            </span>
                                            <input type="range" class="volume-lvl ml-2" min="0" max="1" step="0.1" value="1" style="width: 80px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="block">
                <div class="box has-text-centered">
                    <p class="title is-4 has-text-grey">Les lecteurs audio arriveront bientôt...</p>
                    <p class="subtitle is-6 has-text-grey">
                        Envoyez un fichier de données pour commencer à écouter les échantillons
                    </p>
                    <div class="audio-animation">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
            </div>      
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/utils/times.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils/file.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/audioScript.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils/dropZone.js') }}" type="module"></script>
{% endblock %}

</html>
